RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule		index.html 			index.php?module=shop&controller=index&action=index
RewriteRule		category.html 		index.php?module=shop&controller=category&action=index [QSA,L]
RewriteRule		register.html 		index.php?module=shop&controller=index&action=register
RewriteRule		login.html 			index.php?module=shop&controller=index&action=login
RewriteRule		cart.html 			index.php?module=shop&controller=user&action=cart
RewriteRule		my-account.html 	index.php?module=shop&controller=user&action=index
RewriteRule		blog.html 		    index.php?module=shop&controller=blog&action=index  [QSA,L]
RewriteRule		faq.html 		    index.php?module=shop&controller=faq&action=index
RewriteRule		about.html 		    index.php?module=shop&controller=about&action=about
RewriteRule		contact.html 	    index.php?module=shop&controller=contact&action=about
RewriteRule		check-order.html    index.php?module=shop&controller=order&action=viewCheckOrder
RewriteRule		check-order-code.html    index.php?module=shop&controller=order&action=checkOrder
RewriteRule		cart.html 		    index.php?module=shop&controller=cart&action=cart

RewriteRule		book-details-([0-9]+)\.html 		    index.php?module=shop&controller=book&action=detail&book_id=$1
RewriteRule		category-details-([0-9]+)\.html 		index.php?module=shop&controller=category&action=index&category_id=$1 [QSA,L]
RewriteRule		carts.html 		                        index.php?module=shop&controller=cart&action=cart
RewriteRule		checkout.html 		                    index.php?module=shop&controller=order&action=index
RewriteRule		review-oreder.html                      index.php?module=shop&controller=order&action=review
RewriteRule		complete-order.html                     index.php?module=shop&controller=order&action=complete

RewriteRule		blog-details-([0-9]+)\.html	             index.php?module=shop&controller=blog&action=detail&blog_id=$1 [QSA,L]

